@import url('https://fonts.google.com/specimen/Spartan');
.generic_class {
    font-family: 'Spartan', sans-serif;
}

/*---- GLOBAL STYLES ----*/
/*---- GLOBAL STYLES ----*/
/*---- GLOBAL STYLES ----*/

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    width: 100%;
    font-family: 'Spartan', sans-serif;
    overflow-x: hidden;
    background: url('./images/bg-pattern-top-desktop.svg'),
                url('./images/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat no-repeat;
    background-position: top-left, right-bottom;
}


h1 {
    font-size: 4.5rem;
}

p {
    font-size: 1.5rem;
}

span {
    font-size: 1.4rem;
    font-family: 'Spartan', sans-serif;
    color: var(--soft-pink);
}



/*---- VARIABLES ----*/

:root {
    /* PRIMARY */
    --vd-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    /* NEUTRAL */
    --dg-magenta: hsl(303, 10%, 53%);
    --lg-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}


/*---- CONTAINER ----*/
/*---- CONTAINER ----*/
/*---- CONTAINER ----*/


.container {
    max-width: 80vw;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem auto;
}

/* ---- GENERAL STATS ---- */
/* ---- GENERAL STATS ---- */
/* ---- GENERAL STATS ---- */

.header {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 5rem;
}

.overview h1 {
    margin-bottom: 1.5rem;
    color: var(--vd-magenta);
    font-weight: 700;
}

.overview p {
    color: var(--dg-magenta);
    font-weight: 500;
}

.rating-stats {
    margin-left: 12%;
    width: 100%;
}

.review {
    display: flex;
    gap: 2rem;
    padding: 1.5rem 0 1.5rem 2.5rem;
    background-color: var(--lg-magenta);
    width: 65%;
    margin-bottom: 2.5rem;
    border: 1px solid transparent;
    border-radius: 1rem;
}

.review-text p {
    color: var(--vd-magenta);
    font-weight: 500;
}

.stars img {
    margin-right: .5rem;
}

.r-1 {
    margin-top: 5%;
}

.r-2 {
    margin-left: 10%;
}

.r-3 {
    margin-left: 20%;
}


/* ---- USER RATINGS ---- */
/* ---- USER RATINGS ---- */
/* ---- USER RATINGS ---- */


.commentary {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.comment {
    background-color: var(--vd-magenta);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 3rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.c-2 {
    position: relative;
    top: 2rem;
}

.c-3 {
    position: relative;
    top: 4rem;
}

.title {
    display: flex;
    gap: 2rem;
}

.title img {
    border-radius: 50%;
    width: 4rem;
}

.details p, 
.comment-text p {
    color: var(--lg-magenta);
    opacity: .8;
}

.attribution {
    display: flex;
    justify-content: center;
    margin-top: 7%;
}


@media screen and (min-width: 300px) and (max-width: 1025px) {

    body {
        width: 100%;
        font-family: 'Spartan', sans-serif;
        overflow-x: hidden;
        background: url('./images/bg-pattern-top-mobile.svg'),
                    url('./images/bg-pattern-bottom-mobile.svg');
        background-repeat: no-repeat no-repeat;
        background-position: top-left, right-bottom;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header,
    .rating-stats,
    .commentary {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .overview h1,
    .overview p {
      margin: auto;
    }

    .overview h1 {
        text-align: center;
        font-size: 4rem;
        margin-bottom: 1.5rem;
        color: var(--vd-magenta);
        font-weight: 700;
    }

    .overview p {
        text-align: center;
        color: var(--dg-magenta);
        font-weight: 500;
    }

    .rating-stats {
        width: 100%;
        margin: auto;
    }

    .review {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        background-color: var(--lg-magenta);
        width: 100%;
        margin-bottom: 2.5rem;
        border: 1px solid transparent;
        border-radius: 1rem;
    }

    .stars,
    .review-text {
        margin: auto;
    }

    .review-text p {
        color: var(--vd-magenta);
        font-weight: 500;
    }

    .stars img {
        margin-right: .5rem;
    }

    .r-1 {
        margin-top: 5%;
    }
    
    .r-2 {
        margin-left: 0;
    }
    
    .r-3 {
        margin-left: 0;
    }
    
}